In [1]:
from bs4 import BeautifulSoup
import requests
URL="https://www.worldometers.info/coronavirus/#countries"
r=requests.get(URL)
data=BeautifulSoup(r.content,'html5lib')
print(data.prettify())

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   Coronavirus Update (Live): 7,743,173 Cases and 428,373 Deaths from COVID-19 Virus Pandemic - Worldometer
  </title>
  <meta content="Live statistics and coronavirus news tracking the number of confirmed cases, recovered patients, tests, and death toll due to the COVID-19 coronavirus from Wuhan, China. Coronavirus counter with new cases, deaths, and number of tests per 1 Million population. Historical data and info. Daily charts, graphs, news and updates" name="description"/>
  <link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
  <link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
  <link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
  <link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
  <link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
  <link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
  <link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
  <link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
  <link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
  <link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
  <link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
  <link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="/favicon/manifest.json" rel="manifest"/>
  <meta content="#ffffff" name="msapplication-TileColor"/>
  <meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
  <meta content="#ffffff" name="theme-color"/>
  <meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image"/>
  <link href="/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/wm16.css" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
  </script>
  <script src="/js/bootstrap.min.js">
  </script>
  <script src="/js/ie10-viewport-bug-workaround.js">
  </script>
  <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript">
  </script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript">
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $(document).ready(function() {
	$('#popbycountry').dataTable();
} );
  </script>
  <script data-cfasync="false" type="text/javascript">
   var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;
  freestar.config.enabled_slots = [];
  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
  </script>
 </head>
 <body>
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
  </script>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
  </script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js">
  </script>
  <script>
   window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "href": "http://www.worldometers.info/policy/"
  }
})});
  </script>
  <style type="text/css">
   .style1 {
        color: #666666
    }
  </style>
  <div class="navbar navbar-default">
   <div class="container">
    <div class="navbar-header">
     <div class="logo">
      <a class="navbar-brand" href="/">
       <img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/>
      </a>
     </div>
     <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
     </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
     <ul class="nav navbar-nav">
      <li>
       <a href="/coronavirus/">
        <span style="color:#FF9900; font-weight:bold">
         Coronavirus
        </span>
       </a>
      </li>
      <li>
       <a href="/population/">
        Population
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="container">
   <div class="row">
    <div style="text-align:left; margin-bottom:10px">
     <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
     </script>
     <ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px">
     </ins>
     <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
    </div>
   </div>
   <div class="row">
    <div class="col-md-8">
     <div class="content-inner">
      <style>
       .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
      </style>
      <script src="/js/highcharts.js">
      </script>
      <style type="text/css">
       <!--
    .source { }

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }    .source111 {

    } .source1111 {
        font-size: 12px;
        color: #bbb;
    }



    -->
      </style>
      <div class="label-counter" id="page-top">
       COVID-19 Coronavirus Pandemic
      </div>
      <div style="font-size:13px; color:#999; margin-top:5px; text-align:center">
       Last updated: June 13, 2020, 07:46 GMT
      </div>
      <div style="margin-top:20px; text-align:center; font-size:14px">
       <a href="/coronavirus/coronavirus-cases/">
       </a>
       <a href="/coronavirus/worldwide-graphs/">
        Graphs
       </a>
       -
       <a href="#countries">
        Countries
       </a>
       -
       <a href="/coronavirus/coronavirus-death-rate/">
        Death Rate
       </a>
       -
       <a href="/coronavirus/coronavirus-symptoms/">
        Symptoms
       </a>
       -
       <a href="/coronavirus/coronavirus-incubation-period/">
        Incubation
       </a>
       -
       <strong>
       </strong>
       <strong>
       </strong>
       <a href="/coronavirus/transmission/">
        Transmission
       </a>
       -
       <a href="#news">
        News
       </a>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px">
       <h1>
        Coronavirus Cases:
       </h1>
       <div class="maincounter-number">
        <span style="color:#aaa">
         7,743,173
        </span>
       </div>
      </div>
      <div style="text-align:center ">
       <a href="#countries">
        view by country
       </a>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px">
       <h1>
        Deaths:
       </h1>
       <div class="maincounter-number">
        <span>
         428,373
        </span>
       </div>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px;">
       <h1>
        Recovered:
       </h1>
       <div class="maincounter-number" style="color:#8ACA2B ">
        <span>
         3,967,856
        </span>
       </div>
      </div>
      <div style="margin-top:50px;">
      </div>
      <style>
       .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }
      </style>
      <script>
       $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });
    });
      </script>
      <div class="col-md-6">
       <div class="panel panel-default">
        <div class="panel-heading" style="text-align:center">
         <span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
          Active Cases
         </span>
        </div>
        <div class="panel-body" style="text-align:center; height:200px;">
         <div class="panel_flip">
          <div class="panel_front" style="width:100%;height:100%;">
           <div class="number-table-main">
            3,346,944
           </div>
           <div style="font-size:13.5px">
            Currently Infected Patients
           </div>
           <div style="padding-top:20px;position:relative;text-align:center; ">
            <div style="float:left; text-align:center">
             <span class="number-table" style="color:#8080FF">
              3,293,058
             </span>
             (
             <strong>
              98
             </strong>
             %)
             <div style="font-size:13px">
              in Mild Condition
             </div>
             <br/>
            </div>
            <div style="float:right; text-align:center">
             <span class="number-table" style="color:red ">
              53,886
             </span>
             (
             <strong>
              2
             </strong>
             %)
             <div style="font-size:13px">
              Serious or Critical
             </div>
             <br/>
            </div>
           </div>
           <a class="flip_cases_front" href="javascript: void(0);" style="clear: both;display: block;position:absolute;bottom:-8px;width:100%;">
            Show Graph
           </a>
          </div>
          <div class="panel_back" style="width:100%;height:100%;">
           <div id="total-currently-infected-linear">
           </div>
           <script type="text/javascript">
            Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });

    var y_labels = ['0', '20,000', '40,000', '60,000', '140', '180', '200', '240'];
    Highcharts.chart('total-currently-infected-linear', {


        chart: {
            type: 'line',
            height: (9 / 16 * 100) + '%'
        },

        title: {
            text: null

        },

        /*subtitle: {
            text: '(Number of Infected People)'
        },*/

        xAxis: {
            categories: ["Jan 22","Jan 23","Jan 24","Jan 25","Jan 26","Jan 27","Jan 28","Jan 29","Jan 30","Jan 31","Feb 01","Feb 02","Feb 03","Feb 04","Feb 05","Feb 06","Feb 07","Feb 08","Feb 09","Feb 10","Feb 11","Feb 12","Feb 13","Feb 14","Feb 15","Feb 16","Feb 17","Feb 18","Feb 19","Feb 20","Feb 21","Feb 22","Feb 23","Feb 24","Feb 25","Feb 26","Feb 27","Feb 28","Feb 29","Mar 01","Mar 02","Mar 03","Mar 04","Mar 05","Mar 06","Mar 07","Mar 08","Mar 09","Mar 10","Mar 11","Mar 12","Mar 13","Mar 14","Mar 15","Mar 16","Mar 17","Mar 18","Mar 19","Mar 20","Mar 21","Mar 22","Mar 23","Mar 24","Mar 25","Mar 26","Mar 27","Mar 28","Mar 29","Mar 30","Mar 31","Apr 01","Apr 02","Apr 03","Apr 04","Apr 05","Apr 06","Apr 07","Apr 08","Apr 09","Apr 10","Apr 11","Apr 12","Apr 13","Apr 14","Apr 15","Apr 16","Apr 17","Apr 18","Apr 19","Apr 20","Apr 21","Apr 22","Apr 23","Apr 24","Apr 25","Apr 26","Apr 27","Apr 28","Apr 29","Apr 30","May 01","May 02","May 03","May 04","May 05","May 06","May 07","May 08","May 09","May 10","May 11","May 12","May 13","May 14","May 15","May 16","May 17","May 18","May 19","May 20","May 21","May 22","May 23","May 24","May 25","May 26","May 27","May 28","May 29","May 30","May 31","Jun 01","Jun 02","Jun 03","Jun 04","Jun 05","Jun 06","Jun 07","Jun 08","Jun 09","Jun 10","Jun 11","Jun 12"]
        },

        yAxis: {
            title: {
                text: 'Currently Infected',
                enabled: false

            }
            /*tickInterval: 20000,*/

            /*categories: [0,50000],
            labels: {

                format: "{value:,.%0f}"
            }*/
            /*labels: {
                step: 15
            }*/

        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            enabled: false
        },

        credits: {
            enabled: false
        },
        plotOptions: {
            line: {
                marker: {
                    enabled: false
                }
            }
        },


        series: [{
            name: 'Currently Infected',
            color: '#00DDDD',
            lineWidth: 5,
            data: [563,786,1238,1910,2669,4415,5823,7519,9439,11448,13921,16525,19561,23146,26528,29239,32069,34055,36320,38038,39216,52039,56247,57378,57990,58581,58747,58622,57217,55906,54418,53541,51596,49922,48014,46215,43730,42262,41298,40413,39222,38872,38515,39426,40957,42347,43909,46369,48101,53401,59254,67525,74746,85558,95661,107622,124659,146920,172841,196767,224474,260724,295309,336105,384545,436801,491115,539056,585242,642008,698225,754357,816404,874249,923258,975691,1022894,1071419,1124589,1189622,1236610,1282063,1325549,1357621,1400949,1437953,1490322,1537611,1577801,1625393,1649124,1694371,1743039,1771277,1815641,1861859,1882352,1918584,1944592,1985149,2033010,2069175,2114481,2148347,2177418,2207375,2255828,2304247,2334615,2370529,2404916,2413923,2437547,2483782,2523894,2562065,2594061,2631200,2668210,2701326,2743999,2739251,2775553,2813158,2836559,2858373,2891280,2918992,2972752,3014183,3010189,3055070,3058544,3020212,3063839,3110945,3159163,3220710,3249992,3299844,3299021,3326830,3376903]        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 800
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
           </script>
           <a class="flip_cases_back" href="javascript: void(0);" style="clear: both;position: absolute;width:100%;bottom:-8px;left:0;">
            Show Statistics
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-md-6">
       <div class="panel panel-default">
        <div class="panel-heading" style="text-align:center;">
         <span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
          Closed Cases
         </span>
        </div>
        <div class="panel-body" style="text-align:center;height:200px;">
         <div class="panel_flip">
          <div class="panel_front" style="width:100%;height:100%;">
           <div class="number-table-main">
            4,396,229
           </div>
           <div style="font-size:13.5px">
            Cases which had an outcome:
           </div>
           <div style="padding-top:20px ">
            <div style="float:left; text-align:center">
             <span class="number-table" style="color:#8ACA2B">
              3,967,856
             </span>
             (
             <strong>
              90
             </strong>
             %)
             <div style="font-size:13px">
              Recovered / Discharged
             </div>
             <br/>
            </div>
            <div style="float:right; text-align:center">

In [2]:
table = data.find('div', attrs = {'class':'main_table_countries_div'})
print(table)

<div class="main_table_countries_div">
<table class="table table-bordered table-hover main_table_countries" id="main_table_countries_today" style="width:100%;margin-top: 0px !important;display:none;">
<thead>
<tr>
<th width="1%">#</th>
<th width="100">Country,<br/>Other</th>
<th width="20">Total<br/>Cases</th>
<th width="30">New<br/>Cases</th>
<th width="30">Total<br/>Deaths</th>
<th width="30">New<br/>Deaths</th>
<th width="30">Total<br/>Recovered</th>
<th width="30">New<br/>Recovered</th>
<th width="30">Active<br/>Cases</th>
<th width="30">Serious,<br/>Critical</th>
<th width="30">Tot Cases/<br/>1M pop</th>
<th width="30">Deaths/<br/>1M pop</th>
<th width="30">Total<br/>Tests</th>
<th width="30">Tests/<br/>
<nobr>1M pop</nobr>
</th>
<th width="30">Population</th>
<th style="display:none" width="30">Continent</th>
<th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
</tr>
</thead>
<tbody>
<tr class="total_row_world row_continent" data-continent="North America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td>2,427,312</td>
<td>+6,214</td>
<td>143,365</td>
<td>+543</td>
<td>1,038,072</td>
<td>+3,872</td>
<td>1,245,875</td>
<td>19,289</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>

<td>
</td>

<td></td>

<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="South America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>South America</nobr>
</td>
<td>1,356,208</td>
<td>+764</td>
<td>57,870</td>
<td>+26</td>
 <td>721,175</td>
<td>+30,977</td>
<td>577,163</td>
<td>12,010</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="South America" style="display:none;">South America</td>

<td>
</td>

<td></td>

<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Europe</nobr>
</td>
<td>2,174,346</td>
<td>+768</td>
<td>182,082</td>
<td>+15</td>
<td>1,148,301</td>
<td>+467</td>
<td>843,963</td>
<td>6,691</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Europe" style="display:none;">Europe</td>

<td>
</td>

<td></td>

<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Asia</nobr>
</td>
<td>1,547,799</td>
<td>+9,134</td>
<td>38,837</td>
<td>+100</td>
<td>946,104</td>
<td>+11,026</td>
<td>562,858</td>
<td>15,366</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>

<td>
</td>

<td></td>

<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Africa</nobr>
</td>
<td>227,882</td>
<td>+273</td>
 <td>6,080</td>
<td></td>
<td>105,162</td>
<td>+70</td>
<td>116,640</td>
<td>524</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Africa" style="display:none;">Africa</td>

<td>
</td>

<td></td>

<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Oceania</nobr>
</td>
<td>8,905</td>
<td>+4</td>
<td>124</td>
<td></td>
<td>8,391</td>
<td>+20</td>
<td>390</td>
<td>2</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>

<td>
</td>

<td></td>

<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr></nobr>
</td>
<td>721</td>
<td></td>
<td>15</td>
<td></td>
<td>651</td>
<td></td>
<td>55</td>
<td>4</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="" style="display:none;"></td>

<td>
</td>

<td></td>

<td></td>
</tr>
<tr class="total_row_world">
<td></td>
<td style="text-align:left;">World</td>
<td>7,743,173</td>
<td>+17,157</td>
<td>428,373</td>
<td>+684</td>
<td>3,967,856</td>
 <td>+46,432</td>
<td>3,346,944</td>
<td>53,886</td>
<td>993</td>
<td>55.0</td>
<td></td>
<td></td>
<td></td>
<td data-continent="all" style="display:none">All</td>

<td>
</td>

<td></td>

<td></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">2,117,027</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+105</td>
<td style="font-weight: bold; text-align:right;">116,831 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+6</td>
<td style="font-weight: bold; text-align:right">841,936</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+2</td>
<td style="text-align:right;font-weight:bold;">1,158,260</td>
<td style="font-weight: bold; text-align:right">16,613</td>
<td style="font-weight: bold; text-align:right">6,398</td>
<td style="font-weight: bold; text-align:right">353</td>
<td style="font-weight: bold; text-align:right">23,794,382</td>
<td style="font-weight: bold; text-align:right">71,907</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">330,906,997</a> </td>
<td data-continent="North America" style="display:none">North America</td>

<td>156</td><td>2,832</td><td>14</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
<td style="font-weight: bold; text-align:right">829,902</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">41,901 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">427,610</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+30,918</td>
<td style="text-align:right;font-weight:bold;">360,391</td>
<td style="font-weight: bold; text-align:right">8,318</td>
<td style="font-weight: bold; text-align:right">3,906</td>
<td style="font-weight: bold; text-align:right">197</td>
<td style="font-weight: bold; text-align:right">1,476,057</td>
<td style="font-weight: bold; text-align:right">6,947</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">212,483,982</a> </td>
<td data-continent="South America" style="display:none">South America</td>

<td>256</td><td>5,071</td><td>144</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
<td style="font-weight: bold; text-align:right">511,423</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">6,715 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">269,370</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">235,338</td>
<td style="font-weight: bold; text-align:right">2,300</td>
<td style="font-weight: bold; text-align:right">3,505</td>
<td style="font-weight: bold; text-align:right">46</td>
<td style="font-weight: bold; text-align:right">14,218,674</td>
<td style="font-weight: bold; text-align:right">97,434</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,931,552</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>

<td>285</td><td>21,732</td><td>10</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
<td style="font-weight: bold; text-align:right">309,603</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">8,890 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">154,330</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+99</td>
<td style="text-align:right;font-weight:bold;">146,383</td>
<td style="font-weight: bold; text-align:right">8,944</td>
<td style="font-weight: bold; text-align:right">224</td>
<td style="font-weight: bold; text-align:right">6</td>
<td style="font-weight: bold; text-align:right">5,507,182</td>
<td style="font-weight: bold; text-align:right">3,993</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,379,307,780</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>

<td>4,455</td><td>155,153</td><td>250</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
<td style="font-weight: bold; text-align:right">292,950</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">41,481 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">492</td>
<td style="font-weight: bold; text-align:right">4,316</td>
<td style="font-weight: bold; text-align:right">611</td>
<td style="font-weight: bold; text-align:right">6,434,713</td>
<td style="font-weight: bold; text-align:right">94,811</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">67,868,549</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>

<td>232</td><td>1,636</td><td>11</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
<td style="font-weight: bold; text-align:right">290,289</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">27,136 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">617</td>
<td style="font-weight: bold; text-align:right">6,209</td>
<td style="font-weight: bold; text-align:right">580</td>
<td style="font-weight: bold; text-align:right">4,465,338</td>
<td style="font-weight: bold; text-align:right">95,507</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/spain-population/">46,753,936</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>

<td>161</td><td>1,723</td><td>10</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
<td style="font-weight: bold; text-align:right">236,305</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">34,223 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">173,085</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">28,997</td>
<td style="font-weight: bold; text-align:right">227</td>
<td style="font-weight: bold; text-align:right">3,908</td>
<td style="font-weight: bold; text-align:right">566</td>
<td style="font-weight: bold; text-align:right">4,514,441</td>
<td style="font-weight: bold; text-align:right">74,661</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,465,875</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>

<td>256</td><td>1,767</td><td>13</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/peru/">Peru</a></td>
<td style="font-weight: bold; text-align:right">220,749</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">6,308 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">107,133</td>
 <td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">107,308</td>
<td style="font-weight: bold; text-align:right">1,089</td>
<td style="font-weight: bold; text-align:right">6,700</td>
<td style="font-weight: bold; text-align:right">191</td>
<td style="font-weight: bold; text-align:right">1,315,417</td>
<td style="font-weight: bold; text-align:right">39,925</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/peru-population/">32,947,280</a> </td>
<td data-continent="South America" style="display:none">South America</td>

<td>149</td><td>5,223</td><td>25</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
<td style="font-weight: bold; text-align:right">187,251</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">8,863 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">171,600</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">6,788</td>
<td style="font-weight: bold; text-align:right">447</td>
<td style="font-weight: bold; text-align:right">2,235</td>
<td style="font-weight: bold; text-align:right">106</td>
<td style="font-weight: bold; text-align:right">4,694,147</td>
<td style="font-weight: bold; text-align:right">56,035</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,771,107</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>

<td>447</td><td>9,452</td><td>18</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/iran/">Iran</a></td>
<td style="font-weight: bold; text-align:right">182,525</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">8,659 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">144,649</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">29,217</td>
<td style="font-weight: bold; text-align:right">2,739</td>
<td style="font-weight: bold; text-align:right">2,175</td>
<td style="font-weight: bold; text-align:right">103</td>
<td style="font-weight: bold; text-align:right">1,196,947</td>
<td style="font-weight: bold; text-align:right">14,260</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/iran-population/">83,936,074</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>

<td>460</td><td>9,694</td><td>70</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
<td style="font-weight: bold; text-align:right">175,218</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">4,778 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">149,102</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">21,338</td>
<td style="font-weight: bold; text-align:right">664</td>
<td style="font-weight: bold; text-align:right">2,079</td>
<td style="font-weight: bold; text-align:right">57</td>
<td style="font-weight: bold; text-align:right">2,541,903</td>
<td style="font-weight: bold; text-align:right">30,156</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">84,292,030</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>

<td>481</td><td>17,642</td><td>33</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">12</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/chile/">Chile</a></td>
<td style="font-weight: bold; text-align:right">160,846</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">2,870 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">131,358</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">26,618</td>
<td style="font-weight: bold; text-align:right">1,689</td>
<td style="font-weight: bold; text-align:right">8,418</td>
<td style="font-weight: bold; text-align:right">150</td>
<td style="font-weight: bold; text-align:right">799,776</td>
<td style="font-weight: bold; text-align:right">41,856</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/chile-population/">19,107,883</a> </td>
<td data-continent="South America" style="display:none">South America</td>

<td>119</td><td>6,658</td><td>24</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">13</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
<td style="font-weight: bold; text-align:right">156,287</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">29,374 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">72,572</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">54,341</td>
<td style="font-weight: bold; text-align:right">879</td>
<td style="font-weight: bold; text-align:right">2,395</td>
<td style="font-weight: bold; text-align:right">450</td>
<td style="font-weight: bold; text-align:right">1,384,633</td>
<td style="font-weight: bold; text-align:right">21,215</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,266,664</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>

<td>418</td><td>2,222</td><td>47</td>
</tr>
<tr style="">

In [3]:
for row in table.findAll('a', attrs = {'class':'mt_a'}):
    print(row)

<a class="mt_a" href="country/us/">USA</a>
<a class="mt_a" href="country/brazil/">Brazil</a>
<a class="mt_a" href="country/russia/">Russia</a>
<a class="mt_a" href="country/india/">India</a>
<a class="mt_a" href="country/uk/">UK</a>
<a class="mt_a" href="country/spain/">Spain</a>
<a class="mt_a" href="country/italy/">Italy</a>
<a class="mt_a" href="country/peru/">Peru</a>
<a class="mt_a" href="country/germany/">Germany</a>
<a class="mt_a" href="country/iran/">Iran</a>
<a class="mt_a" href="country/turkey/">Turkey</a>
<a class="mt_a" href="country/chile/">Chile</a>
<a class="mt_a" href="country/france/">France</a>
<a class="mt_a" href="country/mexico/">Mexico</a>
<a class="mt_a" href="country/pakistan/">Pakistan</a>
<a class="mt_a" href="country/saudi-arabia/">Saudi Arabia</a>
<a class="mt_a" href="country/canada/">Canada</a>
<a class="mt_a" href="country/bangladesh/">Bangladesh</a>
<a class="mt_a" href="country/qatar/">Qatar</a>
<a class="mt_a" href="country/south-africa/">South Africa</a>
<a class="mt_a" href="country/belgium/">Belgium</a>
<a class="mt_a" href="country/belarus/">Belarus</a>
<a class="mt_a" href="country/sweden/">Sweden</a>
<a class="mt_a" href="country/netherlands/">Netherlands</a>
<a class="mt_a" href="country/colombia/">Colombia</a>
<a class="mt_a" href="country/ecuador/">Ecuador</a>
<a class="mt_a" href="country/united-arab-emirates/">UAE</a>
<a class="mt_a" href="country/egypt/">Egypt</a>
<a class="mt_a" href="country/singapore/">Singapore</a>
<a class="mt_a" href="country/indonesia/">Indonesia</a>
<a class="mt_a" href="country/portugal/">Portugal</a>
<a class="mt_a" href="country/kuwait/">Kuwait</a>
<a class="mt_a" href="country/switzerland/">Switzerland</a>
<a class="mt_a" href="country/ukraine/">Ukraine</a>
<a class="mt_a" href="country/argentina/">Argentina</a>
<a class="mt_a" href="country/poland/">Poland</a>
<a class="mt_a" href="country/ireland/">Ireland</a>
<a class="mt_a" href="country/philippines/">Philippines</a>
<a class="mt_a" href="country/afghanistan/">Afghanistan</a>
<a class="mt_a" href="country/dominican-republic/">Dominican Republic</a>
<a class="mt_a" href="country/romania/">Romania</a>
<a class="mt_a" href="country/oman/">Oman</a>
<a class="mt_a" href="country/panama/">Panama</a>
<a class="mt_a" href="country/israel/">Israel</a>
<a class="mt_a" href="country/iraq/">Iraq</a>
<a class="mt_a" href="country/bahrain/">Bahrain</a>
<a class="mt_a" href="country/japan/">Japan</a>
<a class="mt_a" href="country/austria/">Austria</a>
<a class="mt_a" href="country/bolivia/">Bolivia</a>
<a class="mt_a" href="country/armenia/">Armenia</a>
<a class="mt_a" href="country/nigeria/">Nigeria</a>
<a class="mt_a" href="country/kazakhstan/">Kazakhstan</a>
<a class="mt_a" href="country/serbia/">Serbia</a>
<a class="mt_a" href="country/denmark/">Denmark</a>
<a class="mt_a" href="country/south-korea/">S. Korea</a>
<a class="mt_a" href="country/ghana/">Ghana</a>
<a class="mt_a" href="country/moldova/">Moldova</a>
<a class="mt_a" href="country/algeria/">Algeria</a>
<a class="mt_a" href="country/czech-republic/">Czechia</a>
<a class="mt_a" href="country/azerbaijan/">Azerbaijan</a>
<a class="mt_a" href="country/guatemala/">Guatemala</a>
<a class="mt_a" href="country/cameroon/">Cameroon</a>
<a class="mt_a" href="country/norway/">Norway</a>
<a class="mt_a" href="country/morocco/">Morocco</a>
<a class="mt_a" href="country/malaysia/">Malaysia</a>
<a class="mt_a" href="country/honduras/">Honduras</a>
<a class="mt_a" href="country/australia/">Australia</a>
<a class="mt_a" href="country/finland/">Finland</a>
<a class="mt_a" href="country/sudan/">Sudan</a>
<a class="mt_a" href="country/nepal/">Nepal</a>
<a class="mt_a" href="country/tajikistan/">Tajikistan</a>
<a class="mt_a" href="country/uzbekistan/">Uzbekistan</a>
<a class="mt_a" href="country/senegal/">Senegal</a>
<a class="mt_a" href="country/cote-d-ivoire/">Ivory Coast</a>
<a class="mt_a" href="country/democratic-republic-of-the-congo/">DRC</a>
<a class="mt_a" href="country/djibouti/">Djibouti</a>
<a class="mt_a" href="country/guinea/">Guinea</a>
<a class="mt_a" href="country/hungary/">Hungary</a>
<a class="mt_a" href="country/luxembourg/">Luxembourg</a>
<a class="mt_a" href="country/haiti/">Haiti</a>
<a class="mt_a" href="country/macedonia/">North Macedonia</a>
<a class="mt_a" href="country/el-salvador/">El Salvador</a>
<a class="mt_a" href="country/gabon/">Gabon</a>
<a class="mt_a" href="country/kenya/">Kenya</a>
<a class="mt_a" href="country/bulgaria/">Bulgaria</a>
<a class="mt_a" href="country/thailand/">Thailand</a>
<a class="mt_a" href="country/greece/">Greece</a>
<a class="mt_a" href="country/ethiopia/">Ethiopia</a>
<a class="mt_a" href="country/bosnia-and-herzegovina/">Bosnia and Herzegovina</a>
<a class="mt_a" href="country/venezuela/">Venezuela</a>
<a class="mt_a" href="country/somalia/">Somalia</a>
<a class="mt_a" href="country/mayotte/">Mayotte</a>
<a class="mt_a" href="country/croatia/">Croatia</a>
<a class="mt_a" href="country/cuba/">Cuba</a>
<a class="mt_a" href="country/kyrgyzstan/">Kyrgyzstan</a>
<a class="mt_a" href="country/central-african-republic/">CAR</a>
<a class="mt_a" href="country/maldives/">Maldives</a>
<a class="mt_a" href="country/estonia/">Estonia</a>
<a class="mt_a" href="country/sri-lanka/">Sri Lanka</a>
<a class="mt_a" href="country/iceland/">Iceland</a>
<a class="mt_a" href="country/lithuania/">Lithuania</a>
<a class="mt_a" href="country/mali/">Mali</a>
<a class="mt_a" href="country/south-sudan/">South Sudan</a>
<a class="mt_a" href="country/costa-rica/">Costa Rica</a>
<a class="mt_a" href="country/mauritania/">Mauritania</a>
<a class="mt_a" href="country/slovakia/">Slovakia</a>
<a class="mt_a" href="country/new-zealand/">New Zealand</a>
<a class="mt_a" href="country/slovenia/">Slovenia</a>
<a class="mt_a" href="country/nicaragua/">Nicaragua</a>
<a class="mt_a" href="country/guinea-bissau/">Guinea-Bissau</a>
<a class="mt_a" href="country/lebanon/">Lebanon</a>
<a class="mt_a" href="country/albania/">Albania</a>
<a class="mt_a" href="country/zambia/">Zambia</a>
<a class="mt_a" href="country/equatorial-guinea/">Equatorial Guinea</a>
<a class="mt_a" href="country/paraguay/">Paraguay</a>
<a class="mt_a" href="country/madagascar/">Madagascar</a>
<a class="mt_a" href="country/china-hong-kong-sar/">Hong Kong</a>
<a class="mt_a" href="country/sierra-leone/">Sierra Leone</a>
<a class="mt_a" href="country/latvia/">Latvia</a>
<a class="mt_a" href="country/tunisia/">Tunisia</a>
<a class="mt_a" href="country/french-guiana/">French Guiana</a>
<a class="mt_a" href="country/cyprus/">Cyprus</a>
<a class="mt_a" href="country/niger/">Niger</a>
<a class="mt_a" href="country/jordan/">Jordan</a>
<a class="mt_a" href="country/burkina-faso/">Burkina Faso</a>
<a class="mt_a" href="country/andorra/">Andorra</a>
<a class="mt_a" href="country/georgia/">Georgia</a>
<a class="mt_a" href="country/chad/">Chad</a>
<a class="mt_a" href="country/uruguay/">Uruguay</a>
<a class="mt_a" href="country/congo/">Congo</a>
<a class="mt_a" href="country/cabo-verde/">Cabo Verde</a>
<a class="mt_a" href="country/san-marino/">San Marino</a>
<a class="mt_a" href="country/uganda/">Uganda</a>
<a class="mt_a" href="country/sao-tome-and-principe/">Sao Tome and Principe</a>
<a class="mt_a" href="country/malta/">Malta</a>
<a class="mt_a" href="country/yemen/">Yemen</a>
<a class="mt_a" href="country/jamaica/">Jamaica</a>
<a class="mt_a" href="country/channel-islands/">Channel Islands</a>
<a class="mt_a" href="country/togo/">Togo</a>
<a class="mt_a" href="country/rwanda/">Rwanda</a>
<a class="mt_a" href="country/tanzania/">Tanzania</a>
<a class="mt_a" href="country/mozambique/">Mozambique</a>
<a class="mt_a" href="country/state-of-palestine/">Palestine</a>
<a class="mt_a" href="country/reunion/">Réunion</a>
<a class="mt_a" href="country/malawi/">Malawi</a>
<a class="mt_a" href="country/swaziland/">Eswatini</a>
<a class="mt_a" href="country/taiwan/">Taiwan</a>
<a class="mt_a" href="country/liberia/">Liberia</a>
<a class="mt_a" href="country/libya/">Libya</a>
<a class="mt_a" href="country/benin/">Benin</a>
<a class="mt_a" href="country/zimbabwe/">Zimbabwe</a>
<a class="mt_a" href="country/mauritius/">Mauritius</a>
<a class="mt_a" href="country/isle-of-man/">Isle of Man</a>
<a class="mt_a" href="country/viet-nam/">Vietnam</a>
<a class="mt_a" href="country/montenegro/">Montenegro</a>
<a class="mt_a" href="country/myanmar/">Myanmar</a>
<a class="mt_a" href="country/martinique/">Martinique</a>
<a class="mt_a" href="country/mongolia/">Mongolia</a>
<a class="mt_a" href="country/suriname/">Suriname</a>
<a class="mt_a" href="country/cayman-islands/">Cayman Islands</a>
<a class="mt_a" href="country/faeroe-islands/">Faeroe Islands</a>
<a class="mt_a" href="country/gibraltar/">Gibraltar</a>
<a class="mt_a" href="country/guadeloupe/">Guadeloupe</a>
<a class="mt_a" href="country/syria/">Syria</a>
<a class="mt_a" href="country/comoros/">Comoros</a>
<a class="mt_a" href="country/guyana/">Guyana</a>
<a class="mt_a" href="country/bermuda/">Bermuda</a>
<a class="mt_a" href="country/brunei-darussalam/">Brunei </a>
<a class="mt_a" href="country/angola/">Angola</a>
<a class="mt_a" href="country/cambodia/">Cambodia</a>
<a class="mt_a" href="country/trinidad-and-tobago/">Trinidad and Tobago</a>
<a class="mt_a" href="country/bahamas/">Bahamas</a>
<a class="mt_a" href="country/aruba/">Aruba</a>
<a class="mt_a" href="country/monaco/">Monaco</a>
<a class="mt_a" href="country/barbados/">Barbados</a>
<a class="mt_a" href="country/burundi/">Burundi</a>
<a class="mt_a" href="country/liechtenstein/">Liechtenstein</a>
<a class="mt_a" href="country/sint-maarten/">Sint Maarten</a>
<a class="mt_a" href="country/bhutan/">Bhutan</a>
<a class="mt_a" href="country/french-polynesia/">French Polynesia</a>
<a class="mt_a" href="country/botswana/">Botswana</a>
<a class="mt_a" href="country/china-macao-sar/">Macao</a>
<a class="mt_a" href="country/saint-martin/">Saint Martin</a>
<a class="mt_a" href="country/eritrea/">Eritrea</a>
<a class="mt_a" href="country/namibia/">Namibia</a>
<a class="mt_a" href="country/gambia/">Gambia</a>
<a class="mt_a" href="country/saint-vincent-and-the-grenadines/">St. Vincent Grenadines</a>
<a class="mt_a" href="country/antigua-and-barbuda/">Antigua and Barbuda</a>
<a class="mt_a" href="country/timor-leste/">Timor-Leste</a>
<a class="mt_a" href="country/grenada/">Grenada</a>
<a class="mt_a" href="country/curacao/">Curaçao</a>
<a class="mt_a" href="country/new-caledonia/">New Caledonia</a>
<a class="mt_a" href="country/belize/">Belize</a>
<a class="mt_a" href="country/laos/">Laos</a>
<a class="mt_a" href="country/saint-lucia/">Saint Lucia</a>
<a class="mt_a" href="country/dominica/">Dominica</a>
<a class="mt_a" href="country/fiji/">Fiji</a>
<a class="mt_a" href="country/saint-kitts-and-nevis/">Saint Kitts and Nevis</a>
<a class="mt_a" href="country/falkland-islands-malvinas/">Falkland Islands</a>
<a class="mt_a" href="country/greenland/">Greenland</a>
<a class="mt_a" href="country/turks-and-caicos-islands/">Turks and Caicos</a>
<a class="mt_a" href="country/holy-see/">Vatican City</a>
<a class="mt_a" href="country/montserrat/">Montserrat</a>
<a class="mt_a" href="country/seychelles/">Seychelles</a>
<a class="mt_a" href="country/western-sahara/">Western Sahara</a>
<a class="mt_a" href="country/british-virgin-islands/">British Virgin Islands</a>
<a class="mt_a" href="country/papua-new-guinea/">Papua New Guinea</a>
<a class="mt_a" href="country/caribbean-netherlands/">Caribbean Netherlands</a>
<a class="mt_a" href="country/saint-barthelemy/">St. Barth</a>
<a class="mt_a" href="country/lesotho/">Lesotho</a>
<a class="mt_a" href="country/anguilla/">Anguilla</a>
<a class="mt_a" href="country/saint-pierre-and-miquelon/">Saint Pierre Miquelon</a>
<a class="mt_a" href="country/china/">China</a>

In [4]:
for row in table.findAll('tr'):
    children = row.findChildren("td" , recursive=False)
    for child in children:
        print(child)

<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td>2,427,312</td>
<td>+6,214</td>
<td>143,365</td>
<td>+543</td>
<td>1,038,072</td>
<td>+3,872</td>
<td>1,245,875</td>
<td>19,289</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td style="text-align:left;">
<nobr>South America</nobr>
</td>
<td>1,356,208</td>
<td>+764</td>
<td>57,870</td>
<td>+26</td>
<td>721,175</td>
<td>+30,977</td>
<td>577,163</td>
<td>12,010</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="South America" style="display:none;">South America</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td style="text-align:left;">
<nobr>Europe</nobr>
</td>
<td>2,174,346</td>
<td>+768</td>
<td>182,082</td>
<td>+15</td>
<td>1,148,301</td>
<td>+467</td>
<td>843,963</td>
<td>6,691</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Europe" style="display:none;">Europe</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td style="text-align:left;">
<nobr>Asia</nobr>
</td>
<td>1,547,799</td>
<td>+9,134</td>
<td>38,837</td>
<td>+100</td>
<td>946,104</td>
<td>+11,026</td>
<td>562,858</td>
<td>15,366</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td style="text-align:left;">
<nobr>Africa</nobr>
</td>
<td>227,882</td>
<td>+273</td>
<td>6,080</td>
<td></td>
<td>105,162</td>
<td>+70</td>
<td>116,640</td>
<td>524</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Africa" style="display:none;">Africa</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td style="text-align:left;">
<nobr>Oceania</nobr>
</td>
<td>8,905</td>
<td>+4</td>
<td>124</td>
<td></td>
<td>8,391</td>
<td>+20</td>
<td>390</td>
<td>2</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td style="text-align:left;">
<nobr></nobr>
</td>
<td>721</td>
<td></td>
<td>15</td>
<td></td>
<td>651</td>
<td></td>
<td>55</td>
<td>4</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="" style="display:none;"></td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td style="text-align:left;">World</td>
<td>7,743,173</td>
<td>+17,157</td>
<td>428,373</td>
<td>+684</td>
<td>3,967,856</td>
<td>+46,432</td>
<td>3,346,944</td>
<td>53,886</td>
<td>993</td>
<td>55.0</td>
<td></td>
<td></td>
<td></td>
<td data-continent="all" style="display:none">All</td>
<td>
</td>
<td></td>
<td></td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">2,117,027</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+105</td>
<td style="font-weight: bold; text-align:right;">116,831 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+6</td>
<td style="font-weight: bold; text-align:right">841,936</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+2</td>
<td style="text-align:right;font-weight:bold;">1,158,260</td>
<td style="font-weight: bold; text-align:right">16,613</td>
<td style="font-weight: bold; text-align:right">6,398</td>
<td style="font-weight: bold; text-align:right">353</td>
<td style="font-weight: bold; text-align:right">23,794,382</td>
<td style="font-weight: bold; text-align:right">71,907</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">330,906,997</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<td>156</td>
<td>2,832</td>
<td>14</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
<td style="font-weight: bold; text-align:right">829,902</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">41,901 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">427,610</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+30,918</td>
<td style="text-align:right;font-weight:bold;">360,391</td>
<td style="font-weight: bold; text-align:right">8,318</td>
<td style="font-weight: bold; text-align:right">3,906</td>
<td style="font-weight: bold; text-align:right">197</td>
<td style="font-weight: bold; text-align:right">1,476,057</td>
<td style="font-weight: bold; text-align:right">6,947</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">212,483,982</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<td>256</td>
<td>5,071</td>
<td>144</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
<td style="font-weight: bold; text-align:right">511,423</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">6,715 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">269,370</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">235,338</td>
<td style="font-weight: bold; text-align:right">2,300</td>
<td style="font-weight: bold; text-align:right">3,505</td>
<td style="font-weight: bold; text-align:right">46</td>
<td style="font-weight: bold; text-align:right">14,218,674</td>
<td style="font-weight: bold; text-align:right">97,434</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,931,552</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>285</td>
<td>21,732</td>
<td>10</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
<td style="font-weight: bold; text-align:right">309,603</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">8,890 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">154,330</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+99</td>
<td style="text-align:right;font-weight:bold;">146,383</td>
<td style="font-weight: bold; text-align:right">8,944</td>
<td style="font-weight: bold; text-align:right">224</td>
<td style="font-weight: bold; text-align:right">6</td>
<td style="font-weight: bold; text-align:right">5,507,182</td>
<td style="font-weight: bold; text-align:right">3,993</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,379,307,780</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>4,455</td>
<td>155,153</td>
<td>250</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
<td style="font-weight: bold; text-align:right">292,950</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">41,481 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">492</td>
<td style="font-weight: bold; text-align:right">4,316</td>
<td style="font-weight: bold; text-align:right">611</td>
<td style="font-weight: bold; text-align:right">6,434,713</td>
<td style="font-weight: bold; text-align:right">94,811</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">67,868,549</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>232</td>
<td>1,636</td>
<td>11</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
<td style="font-weight: bold; text-align:right">290,289</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">27,136 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">617</td>
<td style="font-weight: bold; text-align:right">6,209</td>
<td style="font-weight: bold; text-align:right">580</td>
<td style="font-weight: bold; text-align:right">4,465,338</td>
<td style="font-weight: bold; text-align:right">95,507</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/spain-population/">46,753,936</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>161</td>
<td>1,723</td>
<td>10</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
<td style="font-weight: bold; text-align:right">236,305</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">34,223 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">173,085</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">28,997</td>
<td style="font-weight: bold; text-align:right">227</td>
<td style="font-weight: bold; text-align:right">3,908</td>
<td style="font-weight: bold; text-align:right">566</td>
<td style="font-weight: bold; text-align:right">4,514,441</td>
<td style="font-weight: bold; text-align:right">74,661</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,465,875</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>256</td>
<td>1,767</td>
<td>13</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/peru/">Peru</a></td>
<td style="font-weight: bold; text-align:right">220,749</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">6,308 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">107,133</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">107,308</td>
<td style="font-weight: bold; text-align:right">1,089</td>
<td style="font-weight: bold; text-align:right">6,700</td>
<td style="font-weight: bold; text-align:right">191</td>
<td style="font-weight: bold; text-align:right">1,315,417</td>
<td style="font-weight: bold; text-align:right">39,925</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/peru-population/">32,947,280</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<td>149</td>
<td>5,223</td>
<td>25</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
<td style="font-weight: bold; text-align:right">187,251</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">8,863 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">171,600</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">6,788</td>
<td style="font-weight: bold; text-align:right">447</td>
<td style="font-weight: bold; text-align:right">2,235</td>
<td style="font-weight: bold; text-align:right">106</td>
<td style="font-weight: bold; text-align:right">4,694,147</td>
<td style="font-weight: bold; text-align:right">56,035</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,771,107</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>447</td>
<td>9,452</td>
<td>18</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/iran/">Iran</a></td>
<td style="font-weight: bold; text-align:right">182,525</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">8,659 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">144,649</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">29,217</td>
<td style="font-weight: bold; text-align:right">2,739</td>
<td style="font-weight: bold; text-align:right">2,175</td>
<td style="font-weight: bold; text-align:right">103</td>
<td style="font-weight: bold; text-align:right">1,196,947</td>
<td style="font-weight: bold; text-align:right">14,260</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/iran-population/">83,936,074</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>460</td>
<td>9,694</td>
<td>70</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
<td style="font-weight: bold; text-align:right">175,218</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">4,778 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">149,102</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">21,338</td>
<td style="font-weight: bold; text-align:right">664</td>
<td style="font-weight: bold; text-align:right">2,079</td>
<td style="font-weight: bold; text-align:right">57</td>
<td style="font-weight: bold; text-align:right">2,541,903</td>
<td style="font-weight: bold; text-align:right">30,156</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">84,292,030</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>481</td>
<td>17,642</td>
<td>33</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">12</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/chile/">Chile</a></td>
<td style="font-weight: bold; text-align:right">160,846</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">2,870 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">131,358</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">26,618</td>
<td style="font-weight: bold; text-align:right">1,689</td>
<td style="font-weight: bold; text-align:right">8,418</td>
<td style="font-weight: bold; text-align:right">150</td>
<td style="font-weight: bold; text-align:right">799,776</td>
<td style="font-weight: bold; text-align:right">41,856</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/chile-population/">19,107,883</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<td>119</td>
<td>6,658</td>
<td>24</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">13</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
<td style="font-weight: bold; text-align:right">156,287</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">29,374 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">72,572</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">54,341</td>
<td style="font-weight: bold; text-align:right">879</td>
<td style="font-weight: bold; text-align:right">2,395</td>
<td style="font-weight: bold; text-align:right">450</td>
<td style="font-weight: bold; text-align:right">1,384,633</td>
<td style="font-weight: bold; text-align:right">21,215</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,266,664</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>418</td>
<td>2,222</td>
<td>47</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">14</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/mexico/">Mexico</a></td>
<td style="font-weight: bold; text-align:right">139,196</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+5,222</td>
<td style="font-weight: bold; text-align:right;">16,448 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+504</td>
<td style="font-weight: bold; text-align:right">101,767</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+3,703</td>
<td style="text-align:right;font-weight:bold;">20,981</td>
<td style="font-weight: bold; text-align:right">378</td>
<td style="font-weight: bold; text-align:right">1,080</td>
<td style="font-weight: bold; text-align:right">128</td>
<td style="font-weight: bold; text-align:right">393,714</td>
<td style="font-weight: bold; text-align:right">3,055</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/mexico-population/">128,862,724</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<td>926</td>
<td>7,835</td>
<td>327</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">15</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/pakistan/">Pakistan</a></td>
<td style="font-weight: bold; text-align:right">132,405</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+6,472</td>
<td style="font-weight: bold; text-align:right;">2,551 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+88</td>
<td style="font-weight: bold; text-align:right">50,056</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+9,809</td>

<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">23,222</td>
<td style="font-weight: bold; text-align:right">229</td>
<td style="font-weight: bold; text-align:right">27,277</td>
<td style="font-weight: bold; text-align:right">25</td>
<td style="font-weight: bold; text-align:right">280,665</td>
<td style="font-weight: bold; text-align:right">99,959</td>
<td style="font-weight: bold; text-align:right">2,807,805 </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>37</td>
<td>40,112</td>
<td>10</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">20</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/south-africa/">South Africa</a></td>
<td style="font-weight: bold; text-align:right">61,927</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1,354 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">35,006</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">25,567</td>
<td style="font-weight: bold; text-align:right">208</td>
<td style="font-weight: bold; text-align:right">1,045</td>
<td style="font-weight: bold; text-align:right">23</td>
<td style="font-weight: bold; text-align:right">1,060,425</td>
<td style="font-weight: bold; text-align:right">17,892</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/south-africa-population/">59,269,206</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>957</td>
<td>43,773</td>
<td>56</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">21</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/belgium/">Belgium</a></td>
<td style="font-weight: bold; text-align:right">59,819</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">9,646 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">16,498</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">33,675</td>
<td style="font-weight: bold; text-align:right">89</td>
<td style="font-weight: bold; text-align:right">5,163</td>
<td style="font-weight: bold; text-align:right">832</td>
<td style="font-weight: bold; text-align:right">996,785</td>
<td style="font-weight: bold; text-align:right">86,025</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/belgium-population/">11,587,177</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>194</td>
<td>1,201</td>
<td>12</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">22</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/belarus/">Belarus</a></td>
<td style="font-weight: bold; text-align:right">52,520</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">298 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">27,760</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">24,462</td>
<td style="font-weight: bold; text-align:right">92</td>
<td style="font-weight: bold; text-align:right">5,558</td>
<td style="font-weight: bold; text-align:right">32</td>
<td style="font-weight: bold; text-align:right">697,011</td>
<td style="font-weight: bold; text-align:right">73,762</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/belarus-population/">9,449,466</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>180</td>
<td>31,710</td>
<td>14</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">23</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/sweden/">Sweden</a></td>
<td style="font-weight: bold; text-align:right">49,684</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">4,854 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">272</td>
<td style="font-weight: bold; text-align:right">4,921</td>
<td style="font-weight: bold; text-align:right">481</td>
<td style="font-weight: bold; text-align:right">325,000</td>
<td style="font-weight: bold; text-align:right">32,190</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/sweden-population/">10,096,150</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>203</td>
<td>2,080</td>
<td>31</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">24</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/netherlands/">Netherlands</a></td>
<td style="font-weight: bold; text-align:right">48,461</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">6,053 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">77</td>
<td style="font-weight: bold; text-align:right">2,829</td>
<td style="font-weight: bold; text-align:right">353</td>
<td style="font-weight: bold; text-align:right">455,067</td>
<td style="font-weight: bold; text-align:right">26,561</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/netherlands-population/">17,133,075</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>354</td>
<td>2,831</td>
<td>38</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">25</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/colombia/">Colombia</a></td>
<td style="font-weight: bold; text-align:right">46,858</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1,545 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">18,715</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">26,598</td>
<td style="font-weight: bold; text-align:right">335</td>
<td style="font-weight: bold; text-align:right">921</td>
<td style="font-weight: bold; text-align:right">30</td>
<td style="font-weight: bold; text-align:right">470,351</td>
<td style="font-weight: bold; text-align:right">9,249</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/colombia-population/">50,854,810</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<td>1,085</td>
<td>32,916</td>
<td>108</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">26</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/ecuador/">Ecuador</a></td>
<td style="font-weight: bold; text-align:right">45,778</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">3,828 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">22,679</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">19,271</td>
<td style="font-weight: bold; text-align:right">219</td>
<td style="font-weight: bold; text-align:right">2,597</td>
<td style="font-weight: bold; text-align:right">217</td>
<td style="font-weight: bold; text-align:right">128,175</td>
<td style="font-weight: bold; text-align:right">7,271</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/ecuador-population/">17,628,541</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<td>385</td>
<td>4,605</td>
<td>138</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">27</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/united-arab-emirates/">UAE</a></td>
<td style="font-weight: bold; text-align:right">41,499</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">287 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">25,946</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">15,266</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="font-weight: bold; text-align:right">4,199</td>
<td style="font-weight: bold; text-align:right">29</td>
<td style="font-weight: bold; text-align:right">2,626,000</td>
<td style="font-weight: bold; text-align:right">265,679</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/united-arab-emirates-population/">9,884,125</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>238</td>
<td>34,439</td>
<td>4</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">28</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/egypt/">Egypt</a></td>
<td style="font-weight: bold; text-align:right">41,303</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1,422 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">11,108</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">28,773</td>
<td style="font-weight: bold; text-align:right">41</td>
<td style="font-weight: bold; text-align:right">404</td>
<td style="font-weight: bold; text-align:right">14</td>
<td style="font-weight: bold; text-align:right">135,000</td>
<td style="font-weight: bold; text-align:right">1,321</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/egypt-population/">102,226,041</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>2,475</td>
<td>71,889</td>
<td>757</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">29</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/singapore/">Singapore</a></td>
<td style="font-weight: bold; text-align:right">40,197</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+347</td>
<td style="font-weight: bold; text-align:right;">25 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">28,040</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">12,132</td>
<td style="font-weight: bold; text-align:right">2</td>
<td style="font-weight: bold; text-align:right">6,874</td>
<td style="font-weight: bold; text-align:right">4</td>
<td style="font-weight: bold; text-align:right">488,695</td>
<td style="font-weight: bold; text-align:right">83,566</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/singapore-population/">5,848,027</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>145</td>
<td>233,921</td>
<td>12</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">30</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/indonesia/">Indonesia</a></td>
<td style="font-weight: bold; text-align:right">36,406</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">2,048 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">13,213</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">21,145</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">133</td>
<td style="font-weight: bold; text-align:right">7</td>
<td style="font-weight: bold; text-align:right">478,953</td>
<td style="font-weight: bold; text-align:right">1,752</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/indonesia-population/">273,373,988</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>7,509</td>
<td>133,483</td>
<td>571</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">31</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/portugal/">Portugal</a></td>
<td style="font-weight: bold; text-align:right">36,180</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1,505 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">22,200</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">12,475</td>
<td style="font-weight: bold; text-align:right">73</td>
<td style="font-weight: bold; text-align:right">3,548</td>
<td style="font-weight: bold; text-align:right">148</td>
<td style="font-weight: bold; text-align:right">954,069</td>
<td style="font-weight: bold; text-align:right">93,554</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/portugal-population/">10,198,041</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>282</td>
<td>6,776</td>
<td>11</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">32</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/kuwait/">Kuwait</a></td>
<td style="font-weight: bold; text-align:right">34,952</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">285 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">25,048</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">9,619</td>
<td style="font-weight: bold; text-align:right">172</td>
<td style="font-weight: bold; text-align:right">8,191</td>
<td style="font-weight: bold; text-align:right">67</td>
<td style="font-weight: bold; text-align:right">330,129</td>
<td style="font-weight: bold; text-align:right">77,365</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/kuwait-population/">4,267,163</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>122</td>
<td>14,973</td>
<td>13</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">33</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/switzerland/">Switzerland</a></td>
<td style="font-weight: bold; text-align:right">31,063</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1,938 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">28,800</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">325</td>
<td style="font-weight: bold; text-align:right">18</td>
<td style="font-weight: bold; text-align:right">3,590</td>
<td style="font-weight: bold; text-align:right">224</td>
<td style="font-weight: bold; text-align:right">447,617</td>
<td style="font-weight: bold; text-align:right">51,739</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/switzerland-population/">8,651,455</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>279</td>
<td>4,464</td>
<td>19</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">34</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/ukraine/">Ukraine</a></td>
<td style="font-weight: bold; text-align:right">30,506</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+753</td>
<td style="font-weight: bold; text-align:right;">880 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+10</td>
<td style="font-weight: bold; text-align:right">13,976</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+409</td>
<td style="text-align:right;font-weight:bold;">15,650</td>
<td style="font-weight: bold; text-align:right">306</td>
<td style="font-weight: bold; text-align:right">697</td>
<td style="font-weight: bold; text-align:right">20</td>
<td style="font-weight: bold; text-align:right">479,111</td>
<td style="font-weight: bold; text-align:right">10,952</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/ukraine-population/">43,745,133</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>1,434</td>
<td>49,710</td>
<td>91</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">35</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/argentina/">Argentina</a></td>
<td style="font-weight: bold; text-align:right">28,764</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">785 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">8,743</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">19,236</td>
<td style="font-weight: bold; text-align:right">274</td>
<td style="font-weight: bold; text-align:right">637</td>
<td style="font-weight: bold; text-align:right">17</td>
<td style="font-weight: bold; text-align:right">221,305</td>
<td style="font-weight: bold; text-align:right">4,899</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/argentina-population/">45,174,623</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<td>1,571</td>
<td>57,547</td>
<td>204</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">36</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/poland/">Poland</a></td>
<td style="font-weight: bold; text-align:right">28,577</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1,222 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">13,805</td>
<td style="font-weight: bold; text-align:right;"></td>

<td style="text-align:right;font-weight:bold;">1,695</td>
<td style="font-weight: bold; text-align:right">23</td>
<td style="font-weight: bold; text-align:right">290</td>
<td style="font-weight: bold; text-align:right">3</td>
<td style="font-weight: bold; text-align:right">58,003</td>
<td style="font-weight: bold; text-align:right">3,470</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/senegal-population/">16,717,343</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>3,446</td>
<td>298,524</td>
<td>288</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">74</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/cote-d-ivoire/">Ivory Coast</a></td>
<td style="font-weight: bold; text-align:right">4,684</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">45 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">2,263</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">2,376</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">178</td>
<td style="font-weight: bold; text-align:right">2</td>
<td style="font-weight: bold; text-align:right">35,179</td>
<td style="font-weight: bold; text-align:right">1,336</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/cote-d-ivoire-population/">26,339,495</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>5,623</td>
<td>585,322</td>
<td>749</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">75</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/democratic-republic-of-the-congo/">DRC</a></td>
<td style="font-weight: bold; text-align:right">4,637</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">101 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">580</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">3,956</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">52</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/democratic-republic-of-the-congo-population/">89,391,169</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>19,278</td>
<td>885,061</td>
<td></td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">76</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/djibouti/">Djibouti</a></td>
<td style="font-weight: bold; text-align:right">4,441</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">38 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">2,730</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,673</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">4,498</td>
<td style="font-weight: bold; text-align:right">38</td>
<td style="font-weight: bold; text-align:right">40,356</td>
<td style="font-weight: bold; text-align:right">40,878</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/djibouti-population/">987,227</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>222</td>
<td>25,980</td>
<td>24</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">77</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/guinea/">Guinea</a></td>
<td style="font-weight: bold; text-align:right">4,426</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">24 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">3,106</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,296</td>
<td style="font-weight: bold; text-align:right">24</td>
<td style="font-weight: bold; text-align:right">338</td>
<td style="font-weight: bold; text-align:right">2</td>
<td style="font-weight: bold; text-align:right">14,407</td>
<td style="font-weight: bold; text-align:right">1,099</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/guinea-population/">13,111,180</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>2,962</td>
<td>546,299</td>
<td>910</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">78</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/hungary/">Hungary</a></td>
<td style="font-weight: bold; text-align:right">4,064</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+11</td>
<td style="font-weight: bold; text-align:right;">559 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+4</td>
<td style="font-weight: bold; text-align:right">2,476</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+29</td>
<td style="text-align:right;font-weight:bold;">1,029</td>
<td style="font-weight: bold; text-align:right">20</td>
<td style="font-weight: bold; text-align:right">421</td>
<td style="font-weight: bold; text-align:right">58</td>
<td style="font-weight: bold; text-align:right">230,139</td>
<td style="font-weight: bold; text-align:right">23,820</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/hungary-population/">9,661,455</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>2,377</td>
<td>17,283</td>
<td>42</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">79</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/luxembourg/">Luxembourg</a></td>
<td style="font-weight: bold; text-align:right">4,055</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">110 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">3,918</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">27</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="font-weight: bold; text-align:right">6,484</td>
<td style="font-weight: bold; text-align:right">176</td>
<td style="font-weight: bold; text-align:right">101,877</td>
<td style="font-weight: bold; text-align:right">162,894</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/luxembourg-population/">625,420</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>154</td>
<td>5,686</td>
<td>6</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">80</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/haiti/">Haiti</a></td>
<td style="font-weight: bold; text-align:right">3,941</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">64 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">24</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">3,853</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">346</td>
<td style="font-weight: bold; text-align:right">6</td>
<td style="font-weight: bold; text-align:right">8,081</td>
<td style="font-weight: bold; text-align:right">709</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/haiti-population/">11,395,219</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<td>2,891</td>
<td>178,050</td>
<td>1,410</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">81</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/macedonia/">North Macedonia</a></td>
<td style="font-weight: bold; text-align:right">3,701</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">171 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">1,694</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,836</td>
<td style="font-weight: bold; text-align:right">34</td>
<td style="font-weight: bold; text-align:right">1,776</td>
<td style="font-weight: bold; text-align:right">82</td>
<td style="font-weight: bold; text-align:right">41,049</td>
<td style="font-weight: bold; text-align:right">19,703</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/macedonia-population/">2,083,378</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>563</td>
<td>12,183</td>
<td>51</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">82</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/el-salvador/">El Salvador</a></td>
<td style="font-weight: bold; text-align:right">3,481</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">72 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+4</td>
<td style="font-weight: bold; text-align:right">1,603</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+16</td>
<td style="text-align:right;font-weight:bold;">1,806</td>
<td style="font-weight: bold; text-align:right">128</td>
<td style="font-weight: bold; text-align:right">537</td>
<td style="font-weight: bold; text-align:right">11</td>
<td style="font-weight: bold; text-align:right">118,483</td>
<td style="font-weight: bold; text-align:right">18,271</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/el-salvador-population/">6,484,606</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<td>1,863</td>
<td>90,064</td>
<td>55</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">83</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/gabon/">Gabon</a></td>
<td style="font-weight: bold; text-align:right">3,463</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">23 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">1,024</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">2,416</td>
<td style="font-weight: bold; text-align:right">17</td>
<td style="font-weight: bold; text-align:right">1,558</td>
<td style="font-weight: bold; text-align:right">10</td>
<td style="font-weight: bold; text-align:right">19,517</td>
<td style="font-weight: bold; text-align:right">8,781</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/gabon-population/">2,222,650</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>642</td>
<td>96,637</td>
<td>114</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">84</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/kenya/">Kenya</a></td>
<td style="font-weight: bold; text-align:right">3,305</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">96 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">1,164</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">2,045</td>
<td style="font-weight: bold; text-align:right">7</td>
<td style="font-weight: bold; text-align:right">62</td>
<td style="font-weight: bold; text-align:right">2</td>
<td style="font-weight: bold; text-align:right">108,666</td>
<td style="font-weight: bold; text-align:right">2,023</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/kenya-population/">53,702,760</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>16,249</td>
<td>559,404</td>
<td>494</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">85</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/bulgaria/">Bulgaria</a></td>
<td style="font-weight: bold; text-align:right">3,191</td>

<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">172 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">1,716</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,303</td>
<td style="font-weight: bold; text-align:right">15</td>
<td style="font-weight: bold; text-align:right">459</td>
<td style="font-weight: bold; text-align:right">25</td>
<td style="font-weight: bold; text-align:right">101,102</td>
<td style="font-weight: bold; text-align:right">14,546</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/bulgaria-population/">6,950,669</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>2,178</td>
<td>40,411</td>
<td>69</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">86</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/thailand/">Thailand</a></td>
<td style="font-weight: bold; text-align:right">3,134</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+5</td>
<td style="font-weight: bold; text-align:right;">58 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">2,987</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">89</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="font-weight: bold; text-align:right">45</td>
<td style="font-weight: bold; text-align:right">0.8</td>
<td style="font-weight: bold; text-align:right">468,175</td>
<td style="font-weight: bold; text-align:right">6,708</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/thailand-population/">69,791,648</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>22,269</td>
<td>1,203,304</td>
<td>149</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">87</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/greece/">Greece</a></td>
<td style="font-weight: bold; text-align:right">3,108</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">183 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">1,374</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,551</td>
<td style="font-weight: bold; text-align:right">14</td>
<td style="font-weight: bold; text-align:right">298</td>
<td style="font-weight: bold; text-align:right">18</td>
<td style="font-weight: bold; text-align:right">243,867</td>
<td style="font-weight: bold; text-align:right">23,392</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/greece-population/">10,425,286</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>3,354</td>
<td>56,969</td>
<td>43</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">88</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/ethiopia/">Ethiopia</a></td>
<td style="font-weight: bold; text-align:right">2,915</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">47 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">451</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">2,417</td>
<td style="font-weight: bold; text-align:right">38</td>
<td style="font-weight: bold; text-align:right">25</td>
<td style="font-weight: bold; text-align:right">0.4</td>
<td style="font-weight: bold; text-align:right">170,860</td>
<td style="font-weight: bold; text-align:right">1,488</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/ethiopia-population/">114,794,517</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>39,381</td>
<td>2,442,437</td>
<td>672</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">89</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/bosnia-and-herzegovina/">Bosnia and Herzegovina</a></td>
<td style="font-weight: bold; text-align:right">2,893</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">163 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">2,119</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">611</td>
<td style="font-weight: bold; text-align:right">4</td>
<td style="font-weight: bold; text-align:right">882</td>
<td style="font-weight: bold; text-align:right">50</td>
<td style="font-weight: bold; text-align:right">75,171</td>
<td style="font-weight: bold; text-align:right">22,906</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/bosnia-and-herzegovina-population/">3,281,700</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>1,134</td>
<td>20,133</td>
<td>44</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">90</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/venezuela/">Venezuela</a></td>
<td style="font-weight: bold; text-align:right">2,879</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">23 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">487</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">2,369</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="font-weight: bold; text-align:right">101</td>
<td style="font-weight: bold; text-align:right">0.8</td>
<td style="font-weight: bold; text-align:right">1,066,791</td>
<td style="font-weight: bold; text-align:right">37,511</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/venezuela-population/">28,439,554</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<td>9,878</td>
<td>1,236,502</td>
<td>27</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">91</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/somalia/">Somalia</a></td>
<td style="font-weight: bold; text-align:right">2,513</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">85 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">532</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,896</td>
<td style="font-weight: bold; text-align:right">2</td>
<td style="font-weight: bold; text-align:right">158</td>
<td style="font-weight: bold; text-align:right">5</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/somalia-population/">15,866,124</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>6,314</td>
<td>186,660</td>
<td></td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">92</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/mayotte/">Mayotte</a></td>
<td style="font-weight: bold; text-align:right">2,268</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">28 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">1,790</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">450</td>
<td style="font-weight: bold; text-align:right">12</td>
<td style="font-weight: bold; text-align:right">8,325</td>
<td style="font-weight: bold; text-align:right">103</td>
<td style="font-weight: bold; text-align:right">8,800</td>
<td style="font-weight: bold; text-align:right">32,302</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/mayotte-population/">272,427</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>120</td>
<td>9,730</td>
<td>31</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">93</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/croatia/">Croatia</a></td>
<td style="font-weight: bold; text-align:right">2,249</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">107 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">2,133</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">9</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">548</td>
<td style="font-weight: bold; text-align:right">26</td>
<td style="font-weight: bold; text-align:right">69,721</td>
<td style="font-weight: bold; text-align:right">16,979</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/croatia-population/">4,106,361</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>1,826</td>
<td>38,377</td>
<td>59</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">94</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/cuba/">Cuba</a></td>
<td style="font-weight: bold; text-align:right">2,233</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">84 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">1,902</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">247</td>
<td style="font-weight: bold; text-align:right">4</td>
<td style="font-weight: bold; text-align:right">197</td>
<td style="font-weight: bold; text-align:right">7</td>
<td style="font-weight: bold; text-align:right">129,132</td>
<td style="font-weight: bold; text-align:right">11,400</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/cuba-population/">11,326,934</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<td>5,073</td>
<td>134,844</td>
<td>88</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">95</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/kyrgyzstan/">Kyrgyzstan</a></td>
<td style="font-weight: bold; text-align:right">2,207</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+41</td>
<td style="font-weight: bold; text-align:right;">27 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+1</td>
<td style="font-weight: bold; text-align:right">1,722</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+54</td>
<td style="text-align:right;font-weight:bold;">458</td>
<td style="font-weight: bold; text-align:right">11</td>
<td style="font-weight: bold; text-align:right">339</td>
<td style="font-weight: bold; text-align:right">4</td>
<td style="font-weight: bold; text-align:right">147,454</td>
<td style="font-weight: bold; text-align:right">22,622</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/kyrgyzstan-population/">6,518,289</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>2,953</td>
<td>241,418</td>
<td>44</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">96</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/central-african-republic/">CAR</a></td>
<td style="font-weight: bold; text-align:right">2,044</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">7 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">360</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,677</td>
<td style="font-weight: bold; text-align:right">2</td>
<td style="font-weight: bold; text-align:right">424</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="font-weight: bold; text-align:right">18,921</td>
<td style="font-weight: bold; text-align:right">3,921</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/central-african-republic-population/">4,825,119</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>2,361</td>
<td>689,303</td>
<td>255</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">97</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/maldives/">Maldives</a></td>
<td style="font-weight: bold; text-align:right">2,003</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">8 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">1,193</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">802</td>
<td style="font-weight: bold; text-align:right">9</td>
<td style="font-weight: bold; text-align:right">3,709</td>
<td style="font-weight: bold; text-align:right">15</td>
<td style="font-weight: bold; text-align:right">28,940</td>
<td style="font-weight: bold; text-align:right">53,591</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/maldives-population/">540,016</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>270</td>
<td>67,502</td>
<td>19</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">98</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/estonia/">Estonia</a></td>
<td style="font-weight: bold; text-align:right">1,973</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+3</td>
<td style="font-weight: bold; text-align:right;">69 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">1,705</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+2</td>
<td style="text-align:right;font-weight:bold;">199</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">1,487</td>
<td style="font-weight: bold; text-align:right">52</td>
<td style="font-weight: bold; text-align:right">95,000</td>
<td style="font-weight: bold; text-align:right">71,617</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/estonia-population/">1,326,493</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>672</td>
<td>19,225</td>
<td>14</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">99</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/sri-lanka/">Sri Lanka</a></td>
<td style="font-weight: bold; text-align:right">1,880</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">11 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">1,196</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">673</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="font-weight: bold; text-align:right">88</td>
<td style="font-weight: bold; text-align:right">0.5</td>
<td style="font-weight: bold; text-align:right">84,802</td>
<td style="font-weight: bold; text-align:right">3,961</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/sri-lanka-population/">21,408,902</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>11,388</td>
<td>1,946,264</td>
<td>252</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">100</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/iceland/">Iceland</a></td>
<td style="font-weight: bold; text-align:right">1,807</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">10 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">1,794</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">5,297</td>
<td style="font-weight: bold; text-align:right">29</td>
<td style="font-weight: bold; text-align:right">63,045</td>
<td style="font-weight: bold; text-align:right">184,811</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/iceland-population/">341,133</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>189</td>
<td>34,113</td>
<td>5</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">101</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/lithuania/">Lithuania</a></td>
<td style="font-weight: bold; text-align:right">1,756</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">74 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">1,400</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">282</td>
<td style="font-weight: bold; text-align:right">17</td>
<td style="font-weight: bold; text-align:right">645</td>
<td style="font-weight: bold; text-align:right">27</td>
<td style="font-weight: bold; text-align:right">356,062</td>
<td style="font-weight: bold; text-align:right">130,723</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/lithuania-population/">2,723,786</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>1,551</td>
<td>36,808</td>
<td>8</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">102</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/mali/">Mali</a></td>
<td style="font-weight: bold; text-align:right">1,752</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">101 </td>

<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/togo/">Togo</a></td>
<td style="font-weight: bold; text-align:right">525</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">13 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">279</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">233</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="font-weight: bold; text-align:right">64</td>
<td style="font-weight: bold; text-align:right">2</td>
<td style="font-weight: bold; text-align:right">24,802</td>
<td style="font-weight: bold; text-align:right">3,000</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/togo-population/">8,267,347</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>15,747</td>
<td>635,950</td>
<td>333</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">141</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/rwanda/">Rwanda</a></td>
<td style="font-weight: bold; text-align:right">510</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">2 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">321</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">187</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">39</td>
<td style="font-weight: bold; text-align:right">0.2</td>
<td style="font-weight: bold; text-align:right">85,613</td>
<td style="font-weight: bold; text-align:right">6,620</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/rwanda-population/">12,933,152</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>25,359</td>
<td>6,466,576</td>
<td>151</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">142</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/tanzania/">Tanzania</a></td>
<td style="font-weight: bold; text-align:right">509</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">21 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">183</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">305</td>
<td style="font-weight: bold; text-align:right">7</td>
<td style="font-weight: bold; text-align:right">9</td>
<td style="font-weight: bold; text-align:right">0.4</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/tanzania-population/">59,629,682</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>117,151</td>
<td>2,839,509</td>
<td></td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">143</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/mozambique/">Mozambique</a></td>
<td style="font-weight: bold; text-align:right">509</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">2 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">145</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">362</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">16</td>
<td style="font-weight: bold; text-align:right">0.06</td>
<td style="font-weight: bold; text-align:right">16,919</td>
<td style="font-weight: bold; text-align:right">542</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/mozambique-population/">31,201,863</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>61,300</td>
<td>15,600,932</td>
<td>1,844</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">144</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/state-of-palestine/">Palestine</a></td>
<td style="font-weight: bold; text-align:right">489</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">3 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">414</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">72</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">96</td>
<td style="font-weight: bold; text-align:right">0.6</td>
<td style="font-weight: bold; text-align:right">44,876</td>
<td style="font-weight: bold; text-align:right">8,809</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/state-of-palestine-population/">5,094,473</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>10,418</td>
<td>1,698,158</td>
<td>114</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">145</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/reunion/">Réunion</a></td>
<td style="font-weight: bold; text-align:right">488</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">460</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">27</td>
<td style="font-weight: bold; text-align:right">2</td>
<td style="font-weight: bold; text-align:right">545</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="font-weight: bold; text-align:right">17,200</td>
<td style="font-weight: bold; text-align:right">19,218</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/reunion-population/">894,993</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>1,834</td>
<td>894,993</td>
<td>52</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">146</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/malawi/">Malawi</a></td>
<td style="font-weight: bold; text-align:right">481</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">4 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">65</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">412</td>
<td style="font-weight: bold; text-align:right">4</td>
<td style="font-weight: bold; text-align:right">25</td>
<td style="font-weight: bold; text-align:right">0.2</td>
<td style="font-weight: bold; text-align:right">6,690</td>
<td style="font-weight: bold; text-align:right">350</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/malawi-population/">19,100,310</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>39,710</td>
<td>4,775,078</td>
<td>2,855</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">147</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/swaziland/">Eswatini</a></td>
<td style="font-weight: bold; text-align:right">472</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">3 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">246</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">223</td>
<td style="font-weight: bold; text-align:right">5</td>
<td style="font-weight: bold; text-align:right">407</td>
<td style="font-weight: bold; text-align:right">3</td>
<td style="font-weight: bold; text-align:right">6,551</td>
<td style="font-weight: bold; text-align:right">5,650</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/swaziland-population/">1,159,544</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>2,457</td>
<td>386,515</td>
<td>177</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">148</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/taiwan/">Taiwan</a></td>
<td style="font-weight: bold; text-align:right">443</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">7 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">431</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">5</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">19</td>
<td style="font-weight: bold; text-align:right">0.3</td>
<td style="font-weight: bold; text-align:right">73,751</td>
<td style="font-weight: bold; text-align:right">3,097</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/taiwan-population/">23,814,740</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>53,758</td>
<td>3,402,106</td>
<td>323</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">149</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/liberia/">Liberia</a></td>
<td style="font-weight: bold; text-align:right">421</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">32 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">210</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">179</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">83</td>
<td style="font-weight: bold; text-align:right">6</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/liberia-population/">5,050,706</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>11,997</td>
<td>157,835</td>
<td></td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">150</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/libya/">Libya</a></td>
<td style="font-weight: bold; text-align:right">409</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">6 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">59</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">344</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">60</td>
<td style="font-weight: bold; text-align:right">0.9</td>
<td style="font-weight: bold; text-align:right">11,765</td>
<td style="font-weight: bold; text-align:right">1,713</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/libya-population/">6,866,309</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>16,788</td>
<td>1,144,385</td>
<td>584</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">151</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/benin/">Benin</a></td>
<td style="font-weight: bold; text-align:right">388</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">5 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">217</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">166</td>
<td style="font-weight: bold; text-align:right">2</td>
<td style="font-weight: bold; text-align:right">32</td>
<td style="font-weight: bold; text-align:right">0.4</td>
<td style="font-weight: bold; text-align:right">45,637</td>
<td style="font-weight: bold; text-align:right">3,770</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/benin-population/">12,104,097</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>31,196</td>
<td>2,420,819</td>
<td>265</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">152</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/zimbabwe/">Zimbabwe</a></td>
<td style="font-weight: bold; text-align:right">343</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">4 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">51</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">288</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">23</td>
<td style="font-weight: bold; text-align:right">0.3</td>
<td style="font-weight: bold; text-align:right">52,905</td>
<td style="font-weight: bold; text-align:right">3,562</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/zimbabwe-population/">14,851,276</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>43,298</td>
<td>3,712,819</td>
<td>281</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">153</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/mauritius/">Mauritius</a></td>
<td style="font-weight: bold; text-align:right">337</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">10 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">325</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">2</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">265</td>
<td style="font-weight: bold; text-align:right">8</td>
<td style="font-weight: bold; text-align:right">137,789</td>
<td style="font-weight: bold; text-align:right">108,353</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/mauritius-population/">1,271,669</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>3,773</td>
<td>127,167</td>
<td>9</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">154</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/isle-of-man/">Isle of Man</a></td>
<td style="font-weight: bold; text-align:right">336</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">24 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">312</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">3,952</td>
<td style="font-weight: bold; text-align:right">282</td>
<td style="font-weight: bold; text-align:right">5,484</td>
<td style="font-weight: bold; text-align:right">64,509</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/isle-of-man-population/">85,011</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>253</td>
<td>3,542</td>
<td>16</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">155</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/viet-nam/">Vietnam</a></td>
<td style="font-weight: bold; text-align:right">333</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;"> </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">323</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">10</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="font-weight: bold; text-align:right">3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">275,000</td>
<td style="font-weight: bold; text-align:right">2,826</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/viet-nam-population/">97,293,994</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>292,174</td>
<td></td>
<td>354</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">156</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/montenegro/">Montenegro</a></td>
<td style="font-weight: bold; text-align:right">324</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">9 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">315</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">516</td>
<td style="font-weight: bold; text-align:right">14</td>
<td style="font-weight: bold; text-align:right">13,186</td>
<td style="font-weight: bold; text-align:right">20,995</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/montenegro-population/">628,062</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>1,938</td>
<td>69,785</td>
<td>48</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">157</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/myanmar/">Myanmar</a></td>
<td style="font-weight: bold; text-align:right">261</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">6 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">165</td>
<td style="font-weight: bold; text-align:right;"></td>

<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/guadeloupe/">Guadeloupe</a></td>
<td style="font-weight: bold; text-align:right">171</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">14 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">157</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">427</td>
<td style="font-weight: bold; text-align:right">35</td>
<td style="font-weight: bold; text-align:right">5,691</td>
<td style="font-weight: bold; text-align:right">14,223</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/guadeloupe-population/">400,121</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<td>2,340</td>
<td>28,580</td>
<td>70</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">165</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/syria/">Syria</a></td>
<td style="font-weight: bold; text-align:right">164</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">6 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">68</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">90</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">9</td>
<td style="font-weight: bold; text-align:right">0.3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/syria-population/">17,475,529</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>106,558</td>
<td>2,912,588</td>
<td></td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">166</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/comoros/">Comoros</a></td>
<td style="font-weight: bold; text-align:right">163</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">2 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">97</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">64</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">188</td>
<td style="font-weight: bold; text-align:right">2</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/comoros-population/">868,536</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>5,328</td>
<td>434,268</td>
<td></td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">167</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/guyana/">Guyana</a></td>
<td style="font-weight: bold; text-align:right">159</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">12 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">95</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">52</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="font-weight: bold; text-align:right">202</td>
<td style="font-weight: bold; text-align:right">15</td>
<td style="font-weight: bold; text-align:right">1,927</td>
<td style="font-weight: bold; text-align:right">2,451</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/guyana-population/">786,367</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<td>4,946</td>
<td>65,531</td>
<td>408</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">168</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/bermuda/">Bermuda</a></td>
<td style="font-weight: bold; text-align:right">141</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">9 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">127</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">5</td>
<td style="font-weight: bold; text-align:right">2</td>
<td style="font-weight: bold; text-align:right">2,264</td>
<td style="font-weight: bold; text-align:right">144</td>
<td style="font-weight: bold; text-align:right">8,430</td>
<td style="font-weight: bold; text-align:right">135,339</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/bermuda-population/">62,288</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<td>442</td>
<td>6,921</td>
<td>7</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">169</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brunei-darussalam/">Brunei </a></td>
<td style="font-weight: bold; text-align:right">141</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">2 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">138</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="font-weight: bold; text-align:right">322</td>
<td style="font-weight: bold; text-align:right">5</td>
<td style="font-weight: bold; text-align:right">24,131</td>
<td style="font-weight: bold; text-align:right">55,186</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/brunei-darussalam-population/">437,264</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>3,101</td>
<td>218,632</td>
<td>18</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">170</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/angola/">Angola</a></td>
<td style="font-weight: bold; text-align:right">130</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">5 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">42</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">83</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="font-weight: bold; text-align:right">4</td>
<td style="font-weight: bold; text-align:right">0.2</td>
<td style="font-weight: bold; text-align:right">10,000</td>
<td style="font-weight: bold; text-align:right">305</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/angola-population/">32,801,945</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>252,323</td>
<td>6,560,389</td>
<td>3,280</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">171</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/cambodia/">Cambodia</a></td>
<td style="font-weight: bold; text-align:right">126</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;"> </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">125</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="font-weight: bold; text-align:right">8</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">26,530</td>
<td style="font-weight: bold; text-align:right">1,588</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/cambodia-population/">16,706,597</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>132,592</td>
<td></td>
<td>630</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">172</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/trinidad-and-tobago/">Trinidad and Tobago</a></td>
<td style="font-weight: bold; text-align:right">117</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">8 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">109</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">84</td>
<td style="font-weight: bold; text-align:right">6</td>
<td style="font-weight: bold; text-align:right">3,538</td>
<td style="font-weight: bold; text-align:right">2,528</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/trinidad-and-tobago-population/">1,399,271</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<td>11,960</td>
<td>174,909</td>
<td>395</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">173</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/bahamas/">Bahamas</a></td>
<td style="font-weight: bold; text-align:right">103</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">11 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">68</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">24</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="font-weight: bold; text-align:right">262</td>
<td style="font-weight: bold; text-align:right">28</td>
<td style="font-weight: bold; text-align:right">2,252</td>
<td style="font-weight: bold; text-align:right">5,730</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/bahamas-population/">393,052</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<td>3,816</td>
<td>35,732</td>
<td>175</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">174</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/aruba/">Aruba</a></td>
<td style="font-weight: bold; text-align:right">101</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">3 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">98</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">946</td>
<td style="font-weight: bold; text-align:right">28</td>
<td style="font-weight: bold; text-align:right">2,208</td>
<td style="font-weight: bold; text-align:right">20,685</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/aruba-population/">106,744</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<td>1,057</td>
<td>35,581</td>
<td>48</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">175</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/monaco/">Monaco</a></td>
<td style="font-weight: bold; text-align:right">99</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">4 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">93</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">2</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">2,524</td>
<td style="font-weight: bold; text-align:right">102</td>
<td style="font-weight: bold; text-align:right">16,200</td>
<td style="font-weight: bold; text-align:right">412,970</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/monaco-population/">39,228</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>396</td>
<td>9,807</td>
<td>2</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">176</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/barbados/">Barbados</a></td>
<td style="font-weight: bold; text-align:right">96</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">7 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">83</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">6</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="font-weight: bold; text-align:right">334</td>
<td style="font-weight: bold; text-align:right">24</td>
<td style="font-weight: bold; text-align:right">6,388</td>
<td style="font-weight: bold; text-align:right">22,230</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/barbados-population/">287,358</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<td>2,993</td>
<td>41,051</td>
<td>45</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">177</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/burundi/">Burundi</a></td>
<td style="font-weight: bold; text-align:right">85</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">45</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">39</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">7</td>
<td style="font-weight: bold; text-align:right">0.08</td>
<td style="font-weight: bold; text-align:right">382</td>
<td style="font-weight: bold; text-align:right">32</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/burundi-population/">11,868,767</a> </td>
<td data-continent="Africa" style="display:none">Africa</td>
<td>139,633</td>
<td>11,868,767</td>
<td>31,070</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">178</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/liechtenstein/">Liechtenstein</a></td>
<td style="font-weight: bold; text-align:right">82</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">55</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">26</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">2,151</td>
<td style="font-weight: bold; text-align:right">26</td>
<td style="font-weight: bold; text-align:right">900</td>
<td style="font-weight: bold; text-align:right">23,608</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/liechtenstein-population/">38,123</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>465</td>
<td>38,123</td>
<td>42</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">179</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/sint-maarten/">Sint Maarten</a></td>
<td style="font-weight: bold; text-align:right">77</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">15 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">61</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="font-weight: bold; text-align:right">1,797</td>
<td style="font-weight: bold; text-align:right">350</td>
<td style="font-weight: bold; text-align:right">471</td>
<td style="font-weight: bold; text-align:right">10,992</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/sint-maarten-population/">42,851</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<td>557</td>
<td>2,857</td>
<td>91</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">180</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/bhutan/">Bhutan</a></td>
<td style="font-weight: bold; text-align:right">62</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;"> </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">20</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+1</td>
<td style="text-align:right;font-weight:bold;">42</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">80</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">20,612</td>
<td style="font-weight: bold; text-align:right">26,728</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/bhutan-population/">771,167</a>  </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>12,438</td>
<td></td>
<td>37</td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">181</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/french-polynesia/">French Polynesia</a></td>
<td style="font-weight: bold; text-align:right">60</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;"> </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>

<td></td>
<td></td>
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">215</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/china/">China</a></td>
<td style="font-weight: bold; text-align:right">83,075</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+11</td>
<td style="font-weight: bold; text-align:right;">4,634 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">78,367</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+2</td>
<td style="text-align:right;font-weight:bold;">74</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">58</td>
<td style="font-weight: bold; text-align:right">3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">1,439,323,776 </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>17,326</td>
<td>310,601</td>
<td></td>
<td></td>
<td><strong>Total:</strong></td>
<td>2,427,312</td>
<td style="background-color:#FFEEAA; color:#000;">+6,214</td>
<td>143,365</td>
<td style="background-color:red; color:#fff">+543</td>
<td>1,038,072</td>
<td style="background-color:#c8e6c9; color:#000">+3,872</td>
<td>1,245,875</td>
<td>19,289</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
<td> </td>
<td></td>
<td></td>
<td></td>
<td><strong>Total:</strong></td>
<td>1,356,208</td>
<td style="background-color:#FFEEAA; color:#000;">+764</td>
<td>57,870</td>
<td style="background-color:red; color:#fff">+26</td>
<td>721,175</td>
<td style="background-color:#c8e6c9; color:#000">+30,977</td>
<td>577,163</td>
<td>12,010</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="South America" style="display:none;">South America</td>
<td> </td>
<td></td>
<td></td>
<td></td>
<td><strong>Total:</strong></td>
<td>2,174,346</td>
<td style="background-color:#FFEEAA; color:#000;">+768</td>
<td>182,082</td>
<td style="background-color:red; color:#fff">+15</td>
<td>1,148,301</td>
<td style="background-color:#c8e6c9; color:#000">+467</td>
<td>843,963</td>
<td>6,691</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Europe" style="display:none;">Europe</td>
<td> </td>
<td></td>
<td></td>
<td></td>
<td><strong>Total:</strong></td>
<td>1,547,799</td>
<td style="background-color:#FFEEAA; color:#000;">+9,134</td>
<td>38,837</td>
<td style="background-color:red; color:#fff">+100</td>
<td>946,104</td>
<td style="background-color:#c8e6c9; color:#000">+11,026</td>
<td>562,858</td>
<td>15,366</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>
<td> </td>
<td></td>
<td></td>
<td></td>
<td><strong>Total:</strong></td>
<td>227,882</td>
<td style="background-color:#FFEEAA; color:#000;">+273</td>
<td>6,080</td>
<td style=""></td>
<td>105,162</td>
<td style="background-color:#c8e6c9; color:#000"></td>
<td>116,640</td>
<td>524</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Africa" style="display:none;">Africa</td>
<td> </td>
<td></td>
<td></td>
<td></td>
<td><strong>Total:</strong></td>
<td>8,905</td>
<td style="background-color:#FFEEAA; color:#000;">+4</td>
<td>124</td>
<td style=""></td>
<td>8,391</td>
<td style="background-color:#c8e6c9; color:#000"></td>
<td>390</td>
<td>2</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
<td> </td>
<td></td>
<td></td>
<td></td>
<td><strong>Total:</strong></td>
<td>721</td>
<td style=""></td>
<td>15</td>
<td style=""></td>
<td>651</td>
<td style=""></td>
<td>55</td>
<td>4</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="" style="display:none;"></td>
<td> </td>
<td></td>
<td></td>
<td></td>
<td><strong>Total:</strong></td>
<td>7,743,173</td>
<td style="background-color:#FFEEAA; color:#000;">+17,157</td>
<td>428,373</td>
<td style="background-color:red; color:#fff">+684</td>
<td>3,967,856</td>
<td style="background-color:#c8e6c9; color:#000">+46,432</td>
<td>3,346,944</td>
<td>53,886</td>
<td>993.4</td>
<td>55.0</td>
<td></td>
<td></td>
<td></td>
<td data-continent="all" style="display:none">All</td>
<td>
</td>
<td></td>
<td></td>

In [20]:
data1 = []
#table_body = table_1.find('t')
rows = table.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data1.append([ele for ele in cols])

In [21]:
heading=[]
rows = table.find('thead')
onlyheading=rows.findAll('th')
for row in onlyheading:
    print(*row)

#
Country, <br/> Other
Total <br/> Cases
New <br/> Cases
Total <br/> Deaths
New <br/> Deaths
Total <br/> Recovered
New <br/> Recovered
Active <br/> Cases
Serious, <br/> Critical
Tot Cases/ <br/> 1M pop
Deaths/ <br/> 1M pop
Total <br/> Tests
Tests/ <br/>
 <nobr>1M pop</nobr>

Population
Continent
1 Case <br/> every X ppl
1 Death <br/> every X ppl
1 Test <br/> every X ppl

In [22]:
countrieslist=[]
for i in range(8,len(data1)-8):
    countrieslist.append(data1[i][1])
    print(data1[i][1])
print(len(countrieslist))

World
USA
Brazil
Russia
India
UK
Spain
Italy
Peru
Germany
Iran
Turkey
Chile
France
Mexico
Pakistan
Saudi Arabia
Canada
Bangladesh
Qatar
South Africa
Belgium
Belarus
Sweden
Netherlands
Colombia
Ecuador
UAE
Egypt
Singapore
Indonesia
Portugal
Kuwait
Switzerland
Ukraine
Argentina
Poland
Ireland
Philippines
Afghanistan
Dominican Republic
Romania
Oman
Panama
Israel
Iraq
Bahrain
Japan
Austria
Bolivia
Armenia
Nigeria
Kazakhstan
Serbia
Denmark
S. Korea
Ghana
Moldova
Algeria
Czechia
Azerbaijan
Guatemala
Cameroon
Norway
Morocco
Malaysia
Honduras
Australia
Finland
Sudan
Nepal
Tajikistan
Uzbekistan
Senegal
Ivory Coast
DRC
Djibouti
Guinea
Hungary
Luxembourg
Haiti
North Macedonia
El Salvador
Gabon
Kenya
Bulgaria
Thailand
Greece
Ethiopia
Bosnia and Herzegovina
Venezuela
Somalia
Mayotte
Croatia
Cuba
Kyrgyzstan
CAR
Maldives
Estonia
Sri Lanka
Iceland
Lithuania
Mali
South Sudan
Costa Rica
Mauritania
Slovakia
New Zealand
Slovenia
Nicaragua
Guinea-Bissau
Lebanon
Albania
Zambia
Equatorial Guinea
Paraguay
Madagascar
Hong Kong
Sierra Leone
Latvia
Tunisia
French Guiana
Cyprus
Niger
Jordan
Burkina Faso
Andorra
Georgia
Chad
Uruguay
Congo
Diamond Princess
Cabo Verde
San Marino
Uganda
Sao Tome and Principe
Malta
Yemen
Jamaica
Channel Islands
Togo
Rwanda
Tanzania
Mozambique
Palestine
Réunion
Malawi
Eswatini
Taiwan
Liberia
Libya
Benin
Zimbabwe
Mauritius
Isle of Man
Vietnam
Montenegro
Myanmar
Martinique
Mongolia
Suriname
Cayman Islands
Faeroe Islands
Gibraltar
Guadeloupe
Syria
Comoros
Guyana
Bermuda
Brunei
Angola
Cambodia
Trinidad and Tobago
Bahamas
Aruba
Monaco
Barbados
Burundi
Liechtenstein
Sint Maarten
Bhutan
French Polynesia
Botswana
Macao
Saint Martin
Eritrea
Namibia
Gambia
St. Vincent Grenadines
Antigua and Barbuda
Timor-Leste
Grenada
Curaçao
New Caledonia
Belize
Laos
Saint Lucia
Dominica
Fiji
Saint Kitts and Nevis
Falkland Islands
Greenland
Turks and Caicos
Vatican City
Montserrat
Seychelles
MS Zaandam
Western Sahara
British Virgin Islands
Papua New Guinea
Caribbean Netherlands
St. Barth
Lesotho
Anguilla
Saint Pierre Miquelon
China
216

In [23]:
country={}
count=0
country[0]=data1[7][0]
for i in data1[8:]:
    count+=1
    if i[1].isalpha():
        country[count]=i[1]
countries=[]
for i in country.values():
    countries.append(i)
data1.remove([])

In [27]:
from PIL import Image
attributes=['Country ','Total Cases ','New cases ','Total Deaths ','New Deaths ','Total Recovered ','Active cases ','Critical cases ','Total Tests ','Population ']
coun=input("Enter country name :")
for i in data1:
    l2=[]
    if coun.lower()=='world':
        l2.append(data1[7][1])
        l2.append(data1[7][2])
        l2.append(data1[7][3])
        l2.append(data1[7][4])
        l2.append(data1[7][5])
        l2.append(data1[7][6])
        l2.append(data1[7][8])
        l2.append(data1[7][9])
        l2.append("")
        l2.append("7,790,863,980")
        info=dict(zip(attributes,l2))
        for key,value in info.items():
            print(key,value)
        break
    elif i[1].lower()==coun.lower():
        l2.append(i[1])
        l2.append(i[2])
        l2.append(i[3])
        l2.append(i[4])
        l2.append(i[5])
        l2.append(i[6])
        l2.append(i[8])
        l2.append(i[9])
        l2.append(i[12])
        l2.append(i[14])
        if i[1]=='usa' or i[1]=='USA':
            countryflag='united-states'
        else:
            countryflag=i[1]
        print(len(l2),len(attributes))
        info=dict(zip(attributes,l2))
        for key,value in info.items():
            print(key,value)
        URL1="https://www.countryflags.com/en/"+countryflag+"-flag-image.html"
        r1=requests.get(URL1)
        flag=BeautifulSoup(r1.content,'html5lib')
        flag1 = flag.findAll('img', attrs = {'class':'img-responsive'})
        link='https:'+flag1[2]['src']
        page=requests.get(link,stream=True)
        if page.status_code==200:
            img_path="imgs\\"+countryflag+".jpg"
            fp=open(img_path,'wb')
            for chunk in page:
                fp.write(chunk)
            fp.close()
        im = Image.open(r"imgs\\"+countryflag+".jpg")  
        im.show()

Enter country name :germany
10 10
Country  Germany
Total Cases  187,251
New cases
Total Deaths  8,863
New Deaths
Total Recovered  171,600
Active cases  6,788
Critical cases  447
Total Tests  4,694,147
Population  83,771,107

'https://www.countryflags.com/en/'

In [10]:
flag1 = flag.findAll('img', attrs = {'class':'img-responsive'})
print(flag1[2]['src'],sep="\n")
link='https:'+flag1[2]['src']
print(link)

//cdn.countryflags.com/thumbs/india/flag-400.png
https://cdn.countryflags.com/thumbs/india/flag-400.png

In [11]:
country_flag='germany'
page=requests.get(link,stream=True)
if page.status_code==200:
    img_path="imgs\\"+country_flag+".jpg"
    fp=open(img_path,'wb')
    for chunk in page:
        fp.write(chunk)
    fp.close()
    print("Successfully downloaded")
else:
    print("Failed")

Successfully downloaded

In [12]:
from PIL import Image
im = Image.open(r"imgs\germany.jpg")  
  
im.show()

In [16]:
from bs4 import BeautifulSoup
import requests
from PIL import Image
URL="https://www.worldometers.info/coronavirus/#countries"
r=requests.get(URL)
data=BeautifulSoup(r.content,'html5lib')
table = data.find('div', attrs = {'class':'main_table_countries_div'})
data1 = []
rows = table.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data1.append([ele for ele in cols if ele])
heading=[]
rows = table.find('thead')
onlyheading=rows.findAll('th')
countrieslist=[]
for i in range(8,len(data1)-8):
    countrieslist.append(data1[i][1])
country={}
count=0
country[0]=data1[7][0]
for i in data1[8:]:
    count+=1
    if i[1].isalpha():
        country[count]=i[1]
countries=[]
for i in country.values():
    countries.append(i)
data1.remove([])
attributes=['Country ','Total Cases ','New cases ','Total Deaths ','New Deaths ','Total Recovered ','Active cases ','Critical cases ','Total Tests ','Population ']
coun=input("Enter country name :")
for i in data1:
    l2=[]
    if coun.lower()=='world':
        l2.append(data1[7][1])
        l2.append(data1[7][2])
        l2.append(data1[7][3])
        l2.append(data1[7][4])
        l2.append(data1[7][5])
        l2.append(data1[7][6])
        l2.append(data1[7][8])
        l2.append(data1[7][9])
        l2.append("")
        l2.append("7,790,863,980")
        info=dict(zip(attributes,l2))
        for key,value in info.items():
            print(key,value)
        break
    elif i[1].lower()==coun.lower():
        if i[3]=="":
            print("no new cases")
        '''l2.append(i[1])
        l2.append(i[2])
        l2.append(i[4])
        l2.append(i[5])
        l2.append(i[6])
        l2.append(i[7])
        l2.append(i[8])
        l2.append(i[9])
        l2.append(i[12])
        l2.append(i[14])'''
        if i[1]=='usa' or i[1]=='USA':
            countryflag='united-states'
        else:
            countryflag=i[1]
        info=dict(zip(attributes,l2))
        for key,value in info.items():
            print(key,value)
        URL1="https://www.countryflags.com/en/"+countryflag+"-flag-image.html"
        r1=requests.get(URL1)
        flag=BeautifulSoup(r1.content,'html5lib')
        flag1 = flag.findAll('img', attrs = {'class':'img-responsive'})
        link='https:'+flag1[2]['src']
        page=requests.get(link,stream=True)
        if page.status_code==200:
            img_path="imgs\\"+countryflag+".jpg"
            fp=open(img_path,'wb')
            for chunk in page:
                fp.write(chunk)
            fp.close()
        im = Image.open(r"imgs\\"+countryflag+".jpg")  
        im.show()

Enter country name :india

In [14]:
from bs4 import BeautifulSoup
import requests
from PIL import Image
URL="https://www.worldometers.info/coronavirus/#countries"
r=requests.get(URL)
data=BeautifulSoup(r.content,'html5lib')
table = data.find('div', attrs = {'class':'main_table_countries_div'})
data1 = []
rows = table.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data1.append([ele for ele in cols if ele])
heading=[]
rows = table.find('thead')
onlyheading=rows.findAll('th')
countrieslist=[]
for i in range(8,len(data1)-8):
    countrieslist.append(data1[i][1])
country={}
count=0
country[0]=data1[7][0]
for i in data1[8:]:
    count+=1
    if i[1].isalpha():
        country[count]=i[1]
countries=[]
for i in country.values():
    countries.append(i)
data1.remove([])
attributes=['Total Cases ','New cases ','Total Deaths ','New Deaths ','Total Recovered ','Active cases ','Critical cases ','Population ']
coun=input("Enter country name :")
for i in data1:
    l2=[]
    if coun.lower()=='world':
        l2.append(data1[7][1])
        l2.append(data1[7][2])
        l2.append(data1[7][3])
        l2.append(data1[7][4])
        l2.append(data1[7][5])
        l2.append(data1[7][7])
        l2.append(data1[7][8])
        l2.append("7,790,863,980")
        info=dict(zip(attributes,l2))
        for key,value in info.items():
            print(key,value)
        break

Enter country name :world
Total Cases  7,751,882
New cases  +25,866
Total Deaths  428,487
New Deaths  +798
Total Recovered  3,973,128
Active cases  3,350,267
Critical cases  53,886
Population  7,790,863,980